<form action="/create_role_from_actor" method="post">

  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @role.movie_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="actor_id" value="<%= @actor.id %>">

  <div class="form-group">
    <label for="charactername">
      Charactername
    </label>

    <input type="text" id="charactername" name="charactername" class="form-control" value="<%= @role.charactername %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create role
  </button>
</form>
